@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&family=Nunito&family=Playfair+Display:wght@800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$color1: #5c9090;
$color2: #D2DAE9;
$color3: #fff;
$colorbordes:rgba(166, 172, 172, 0.7);
$font1: 'Playfair Display', serif;
$font2: Verdana, Geneva, Tahoma, sans-serif;
$font3: 'Edu SA Beginner', cursive;
$font4: 'Nunito', sans-serif;


.navbar {
    background-color: $color1 ;

}

.nav-link:hover {
    color: $color3 !important;

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*Main inicio*/
.jumbotron {
    background-image: url(imag/inicio.png);
    background-size: cover;
    background-position: top;
    position: relative;
    width: 100%;
    height: 700px;
}

.jumbotron h1 {
    color: black;
    font-family: $font1;
    font-size: 65px;

}

.jumbotron p {
    margin: 15px;
    font-size: 18px;
    margin-left: 5px;
}

/*Main Fin*/


/*Footer*/
footer {
    width: 100%;
    height: 120px;
    background-color: #edcabd;
    color:$color1;
    text-align: center;
    padding: 15px;
    font-size: 25px;
    font-family: $font4;
    justify-content: center;
    margin-top: auto;
    /*position: fixed;
    bottom: 0;*/
}

footer h4 {
    margin-bottom: 15px;
    color: $color1;
}

footer i {
    color: $color1;
    font-size: 35px;
    letter-spacing: 2px;
    margin-top: 10px;
}

.redes {
    color: $color3;
}

.subir {
    position: fixed;
    right: 40px;
    bottom: 40px;
    background-color: #efe9db;
    padding: 15px;
    color: #555555;
}

/*Fin footer*/

@import "_pages"